<!-- <p id="notice"><%#= notice %></p> -->
<br>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
	<strong>Keyword:</strong>
	<%= @post.keywords %>
</p>

<!-- <p>
	<strong>Cooper Hewitt Request:</strong>
	<%#= @post.cooper_hewitt_request %>
</p> -->
Explore other keywords:
<select>
	<% @post.keywords.each do |post| %>
		<option value="<%= post %>"><%= post %></option>
	<% end %>
</select>


<p>
	<strong id="selector-id">Search Term</strong>
	<%= @post.select_random_index %> | <span ng-click="main.addFavorite()" class="glyphicon glyphicon-heart" style="font-size: 20px"></span>
</p>

<span ng-click="main.sentiment_analysis()" style="padding: 3px;">Click to analyze the text!<span class="glyphicon glyphicon-play" style="font-size: 20px"></span></span>


<%= form_for [@post, @gallery] do |f| %>

<!-- population artobject fields -->
	<%= f.fields_for :artobject_attributes do |artobject_fields| %>
		<div>
			<%= artobject_fields.label :title %>
			<%= artobject_fields.text_field :title %>
		</div>
		<div>
			<%= artobject_fields.label :description %>
			<%= artobject_fields.text_field :description %>
		</div>
		<div>
			<%= gallery_fields.label :images_array %>
			<%= gallery_fields.text_field :images_array %>
		</div>
		<div>
			<%= gallery_fields.label :medium %>
			<%= gallery_fields.text_field :medium %>
		</div>
		<div>
			<%= gallery_fields.label :artist %>
			<%= gallery_fields.text_field :artist %>
		</div>
		<div>
			<%= gallery_fields.label :nationality %>
			<%= gallery_fields.text_field :nationality %>
		</div>
	<% end %>
	<!-- end populate artobject fields  -->
	<div>
		<%= f.label :gallery_name, "Enter a gallery name:" %>
		<%= f.text_field :gallery_name %>
	</div>
	<div>
		<%= f.label :museum, "Enter a gallery name:" %>
		<%= f.text_field :museum %>
	</div>
	<div>
		<%= f.label :keyword_search, "Enter a gallery name:" %>
		<%= f.text_field :keyword_search %>
	</div>
	<%= f.submit "Add your gallery!" %>
<% end %>







<% if @post.rijksmuseum_request %>
<p>
	<strong>Rijksmuseum search</strong>

		<% @post.rijksmuseum_request.each do |item| %>
			<%= item[:title] %><br/>
			<%= image_tag(item[:image], class: "dutchmen img-responsive") %>
		<% end %>	
</p>
<% end %>




<div>
	<p>
		<strong>Brooklyn Museum Search</strong>
	</p>
	<% @post.brooklyn_gallery_request.each do |picture| %>
		<%= image_tag(picture) %>
	<% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
