<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
	<strong>selector</strong>
	<%= @post.select_random_index %>
</p>

<p>
	<strong>Keyword:</strong>
	<%= @post.keywords %>
</p>

<div>
	<% @post.brooklyn_gallery_request.each do |picture| %>
		<%= image_tag(picture) %>
	<% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
