<!-- <p id="notice"><%#= notice %></p> -->
<br>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <span id="post_keywords_array"><%= @post.content %></span> 
</p>
<p>
	<strong>Keyword:</strong>
	<span><%= @post.keywords %></span>
</p>

<!-- <p>
	<strong>Cooper Hewitt Request:</strong>
	<%#= @post.cooper_hewitt_request %>
</p> -->
Explore other keywords:
<select>
	<% @post.keywords.each do |post| %>
		<option value="<%= post %>"><%= post %></option>
	<% end %>
</select>


<p>
	<strong id="selector-id">Search Term</strong>
	<%= @post.select_random_index %> | <span ng-click="main.addFavorite()" class="glyphicon glyphicon-heart" style="font-size: 20px"></span>
</p>

<span ng-click="main.sentiment_analysis()" style="padding: 3px;">Click to analyze the text!<br/><span class="glyphicon glyphicon-play" style="font-size: 20px"></span></span>


<svg id="pie-chart" width="250" height="250">
	<script type="text/javascript">
		var w = 100;
		var h = 100;
		var r = 50;
		var color = d3.scale.category20c();

		var data = [{"label": "Positive", "value": {{ main.sentiment_scores["pos"] }}},
		{"label": "Negative", "value": {{ main.sentiment_scores["neg"] }}}, {"label": "Neutral", "value": {{ main.sentiment_scores["neu"] }}}];

		var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");
		var pie = d3.layout.pie().value(function(d){return d.value;});

		// declare an arc generator function
		var arc = d3.svg.arc().outerRadius(r);

		// select paths, use arc generator to draw
		var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
		arcs.append("svg:path")
		    .attr("fill", function(d, i){
		        return color(i);
		    })
		    .attr("d", function (d) {
		        // log the result of the arc generator to show how cool it is :)
		        console.log(arc(d));
		        return arc(d);
		    });

		// add the text
		arcs.append("svg:text").attr("transform", function(d){
					d.innerRadius = 0;
					d.outerRadius = r;
		    return "translate(" + arc.centroid(d) + ")";}).attr("text-anchor", "middle").text( function(d, i) {
		    return data[i].label;}
				);
	</script>
</svg>



<strong>Rijksmuseum search</strong>

<%= render 'gallery' %>


<%# if @post.rijksmuseum_request %>
<!-- <p>
	<strong>Rijksmuseum search</strong>

		<%# @post.rijksmuseum_request.each do |item| %>
			<%#= item[:title] %><br/>
			<%#= image_tag(item[:image], class: "dutchmen img-responsive") %>
		<%# end %>	
</p> -->
<%# end %>
<p>array of links</p>
<!-- {{ main.trustLink }} -->


<div>
	<p>
		<strong>Brooklyn Museum Search</strong>
	</p>
	<% @post.brooklyn_gallery_request.each do |picture| %>
		<%= image_tag(picture) %>
	<% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
