<!-- <p id="notice"><%#= notice %></p> -->
<br>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
	<strong>Keyword:</strong>
	<%= @post.keywords %>
</p>

<!-- <p>
	<strong>Cooper Hewitt Request:</strong>
	<%#= @post.cooper_hewitt_request %>
</p> -->
Explore other keywords:
<select>
	<% @post.keywords.each do |post| %>
		<option value="<%= post %>"><%= post %></option>
	<% end %>
</select>


<p>
	<strong id="selector-id">Search Term</strong>
	<%= @post.select_random_index %> | <span ng-click="main.addFavorite()" class="glyphicon glyphicon-heart" style="font-size: 20px"></span>
</p>

<span ng-click="main.sentiment_analysis()" style="padding: 3px;">Click to analyze the text!<span class="glyphicon glyphicon-play" style="font-size: 20px"></span></span>



<strong>Rijksmuseum search</strong>

<%= render 'gallery' %>


<%# if @post.rijksmuseum_request %>
<!-- <p>
	<strong>Rijksmuseum search</strong>

		<%# @post.rijksmuseum_request.each do |item| %>
			<%#= item[:title] %><br/>
			<%#= image_tag(item[:image], class: "dutchmen img-responsive") %>
		<%# end %>	
</p> -->
<%# end %>
<p>array of links</p>
<!-- {{ main.trustLink }} -->


<div>
	<p>
		<strong>Brooklyn Museum Search</strong>
	</p>
	<% @post.brooklyn_gallery_request.each do |picture| %>
		<%= image_tag(picture) %>
	<% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
